@import './variables'
@import '../../node_modules/frow/frow'

.container 
  display: grid
  grid-template-columns: repeat(5, 1fr)
  border: 1px solid black
  grid-auto-rows: minmax(100px, auto)
  grid-gap: 1em
  text-align: center
  height: 100vh
  margin-bottom: 25px

  div
    margin-top: 15px

  .item-tws
    grid-column-start: 2
    grid-coumn-end: 3
    grid-row: 1/2

  .item-aws
    grid-column: 3/4
    grid-row: 1/2

  .item-bs
    grid-column: 4/5
    grid-row: 1/2

  .item-twa
    grid-column: 1/2
    grid-row: 2/3

  .item-atm
    grid-column: 1/2
    grid-row: 3/4

  .item-aamtnm
    grid-column: 1/2
    grid-row: 4/5

  .item-sailchange
    grid-column: 2/5
    grid-row: 2/5
    border: 1px solid black