@import './variables'
@import '../../node_modules/frow/frow'



.windSpeed-slider
  width: 100px
    


.landing-container 
  height: 50vh
  background-color: #E1F1FC
  color: #F29755

.container 
  display: grid
  grid-template-columns: repeat(5, 1fr)
  border: 1px solid black
  grid-auto-rows: minmax(100px, auto)
  grid-gap: 1em
  text-align: center
  // height: 100%
  // margin-bottom: 25px
  

  div
    margin-top: 15px

  .item-tws
    grid-column: 2/3
    grid-row: 1/2

  .item-aws
    grid-column: 3/4
    grid-row: 1/2

  .item-bs
    grid-column: 4/5
    grid-row: 1/2

  .item-twa
    grid-column: 1/2
    grid-row: 2/3

  .item-atm
    grid-column: 1/2
    grid-row: 3/4

  .item-aamtnm
    grid-column: 1/2
    grid-row: 4/5

  
  
  .item-sailchange
    grid-column: 2/5
    grid-row: 2/5
    border: 1px solid black
    background-color: #8FCEFF




.markers
  background: #FFB700

.navbar
  background: #e3f3fe
  height: 50px

.lines-to-mark
  background-color: #FF009D


.boat-design
  background-color: #d4d4d4

  span
    background-color: #6200ff
    font-size: 50px

.wind-arrows
  width: 0
  height: 0
  border-left: 5px solid transparent
  border-right: 5px solid transparent
  border-bottom: 5px solid black


  &.wind-5
    border-bottom: 5px solid $wind-5

  &.wind-10
    border-bottom: 5px solid $wind-10

  &.wind-15
    border-bottom: 5px solid $wind-15

  &.wind-20
    border-bottom: 5px solid $wind-20
  &.wind-25
    border-bottom: 5px solid $wind-25

  &.wind-30
    border-bottom: 5px solid $wind-30
        
.rotated
  transform: rotate(45deg)


